<div class="tpNvBar">
	<div class="infoIcons">
		<a href="" class="notiInfoIcons"><img src="/assets/notification.svg" alt="">
			<span class="ntiCntCrcl">02</span>
		</a>
		<a href="" class="notiInfoIcons"><img src="/assets/settings_white.svg" alt=""> </a>
		<a href="" class="notiInfoIcons"><img src="/assets/faq.svg" alt=""> </a>
	</div>
</div>